h1{
    color:red;
    display: flex;
    justify-content: space-around;
}
*{
    border: solid;                                                        
}
.header{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}
.menu{
    background-color:red        ;
    display: flex;
    justify-content: space-around;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.follow{
    background-color: navy;
    display: flex;
    justify-content: space-between;
}

.footer{
    display:flex;
    justify-content: space-around;
}
p,h2{
    text-align: center;
    background-color: darkgreen;
}